.block.recipe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.block.recipe > div {
    flex: 1;
}

@media (width >= 900px) {
    .block.recipe {
        flex-direction: row;
    }
}

.recipe-prop-name {
    font-weight: 600;
}